
//Media
$pantallasChicas: 600px;
$pantallasMedianas: 1024px;

//Caracteristicas imagenes
$anchuraImagen: 100%;
$alturaImagen: 2.5cm;

//Colores inconos
$Icono: black;

//Colores Fondos y Letras
$colorFondo:#F2F0EB ;
$colorLetrasPrincipal: rgb(1, 87, 1);
$colorFondoMenus:beige;
$colorFondoProductos: white;

//Colores Formulario
$colorCampoRequeridoEInvalido: red;
$colorBordeRequeridoEInvalido: lightcoral;
$colorBordeRequeridoValido:lightGreen;